In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.Series?

In [4]:
pd.DataFrame?

In [5]:
my_pets = ['Lion', 'Cat', 'Birds', 'Fish']
my_pets

['Lion', 'Cat', 'Birds', 'Fish']

In [6]:
pd.Series(my_pets) #converting list into series objects with indexes

0     Lion
1      Cat
2    Birds
3     Fish
dtype: object

In [9]:
my_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [10]:
my_courses = ['Economics', 'Geography', 'Finance', 'Mathematics', 'History']

In [11]:
pd.Series(my_courses)

0      Economics
1      Geography
2        Finance
3    Mathematics
4        History
dtype: object

In [12]:
pd.Series(my_courses, index = my_days)

Monday         Economics
Tuesday        Geography
Wednesday        Finance
Thursday     Mathematics
Friday           History
dtype: object

In [13]:
my_days1 = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [14]:
pd.Series(my_courses, index = my_days1) #error because of the different length

ValueError: Length of values (5) does not match length of index (6)

In [16]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], index = ['Day1', 'Day2', 'Day3', 'Day4', 'Day5'])
days

Day1       Monday
Day2      Tuesday
Day3    Wednesday
Day4     Thursday
Day5       Friday
dtype: object

In [18]:
courses = pd.Series(['Economics', 'Geography', 'Finance', 'Mathematics', 'History'], index = 'Day1 Day2 Day3 Day4 Day5'.split(' '))
courses

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [20]:
courses2 = pd.Series(['Economics', 'Geography', 'Finance', 'Mathematics', 'History'], index = 'Day1,Day2,Day3,Day4,Day5'.split(','))
courses2

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [21]:
days + courses #addition based on index

Day1        MondayEconomics
Day2       TuesdayGeography
Day3       WednesdayFinance
Day4    ThursdayMathematics
Day5          FridayHistory
dtype: object

In [22]:
days + ' ' + courses

Day1        Monday Economics
Day2       Tuesday Geography
Day3       Wednesday Finance
Day4    Thursday Mathematics
Day5          Friday History
dtype: object

In [23]:
courses

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [24]:
courses['Day5']

'History'

In [26]:
days

Day1       Monday
Day2      Tuesday
Day3    Wednesday
Day4     Thursday
Day5       Friday
dtype: object

In [27]:
days['Day3']

'Wednesday'

## loc and iloc

In [28]:
#creating a dictionary

sports = {'Football': 'Spain',
          'NBA': 'USA',
          'Cricket': 'India',
          'Athelets': 'Jamaica'}

sports_series = pd.Series(sports)
sports_series

Football      Spain
NBA             USA
Cricket       India
Athelets    Jamaica
dtype: object

In [29]:
sports_series.loc['Cricket']

'India'

In [30]:
sports_series.iloc[2]

'India'

In [31]:
sports_series.iloc[3]

'Jamaica'